.label-radio {
  display: block;
  position: relative;
  height: 70px;
  margin: 10px 10px;
  min-width: 141px;
  background-color: rgba(0, 0, 0, 0);
  color: #fff;
  border-radius: 8px;
  border-color: rgb(99, 90, 90);
  border-style: none;
  border: 1px solid #fff;
  font-family: inherit;
  cursor: pointer;
}

.label {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  position: absolute;
}

.radio {
  width: inherit;
  height: inherit;
  position: absolute;
  opacity: 0;
}

input:checked + .label {
  background-color: rgba(37, 207, 11, 0.887);
  border-radius: 8px;
}
